{% extends 'base.html'%}
{% load static %}

{% block title %} {% endblock title %}

{% block body %}
<section>
    <div>
        <a href="{% url 'posts:delete_post' posts.pk %}">Deletar post</a>
        <p>Author: {{ posts.auth }}</p>
        <img src="{{ posts.image.url }}" width="80px" height="80px">
        <p>Descrição: {{ posts.description }}</p>
    </div>
</section>
<div>
    <h2>Comentarios:</h2>
    {% for comment in posts.commentsFromPost.all %}   
        <p>De: {{ comment.auth.username }}</p>
        <p> {{ comment.text }} </p>
    {% empty %}
        <p>Este post nao tem comentarios</p>
    {% endfor %}
</div>
{% endblock body %}