{% extends 'base.html' %}
{% load static %}

{% block title %}
    Djangram | Lista de posts
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block body %}
{% if messages %}
    {% for message in messages %}
        <p class="message">{{ message }}</p>
    {% endfor %}
{% endif %}
    {% for p in posts %}
        <img class="img-user-post" src="{{ p.auth.picture.url }}">
        <p>{{ p.auth }}</p>
        <p>{{ p.modified_at }}</p>    
        <img class="" src="{{ p.image.url }}" alt="Imagem do post">
        <p>{{ p.description }}</p>
        <a href="{% url 'posts:detail_post' p.pk %}">Ver mais</a><br><br>
    {% empty %}
        <h2>Poxa, você não tem nenhum posta ainda :(</h2>    
    {% endfor %}
{% endblock %}