{% extends 'base.html' %}
{% load static %}

{% block title %} Djangram | Perfil {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/detail-user.css' %}">
{% endblock %}

{% block body %}
    <section>
        <div>
            <p>{{ user.username }}</p>
            <img src="{{ user.picture.url }}" width="50px" height="50px">
            {% if user == request.user %}
                <a href="{% url 'users:update_user' user.pk %}">Editar Perfil</a>
            {% endif %}
            <div class="container-geral-user">
                <div class="container-geral-posts-user">
                    {% for posts in user.posts.all %}
                        <div class="container-posts-user">
                            <img class="image-posts-user" src="{{ posts.image.url }}" alt="Imagem do post">
                            <p>{{ posts.description }}</p>
                        </div>
                    {% empty %}
                        <p class="message"> Poxa, você nao tem nenhum post ainda</p>
                    {% endfor %}
                </div>
            </div>
            <a href="{% url 'users:follow_user' user.pk %}">
                {% if request_user_has_followed %}
                    Seguindo
                {% else %}
                    Seguir
                {% endif %}
            </a>
            <div>
                {% if user.following.all %}
                    <div>
                        <h2>Seguindo:</h2>
                        {% for following in user.following.all %}
                        <p>{{ following.username }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if user.followers.all %}
                    <div>
                        <h2>Seguidores:</h2>
                        {% for follower in user.followers.all %}
                            <p>{{ follower.username }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock body %}